* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	background-color: rgb(238, 215, 255);
}
header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgb(64, 4, 104);
	align-items: center;
	height: 50px;
	padding: 0px 20px;
	box-shadow: 0px 1px 7px 0.5px black;
	z-index: 1;
}

.logo,
.trailing {
	color: white;
	font-size: 30px;
}

 .navbar ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgb(149, 38, 223);
	border-radius: 20px;
	padding: 10px 10px;
}

/* .navbar ul li .active-link {
	color: rgb(64, 4, 104);
	background-color: white;
	border: 2px solid rgb(64, 4, 104);
} */

.navbar ul li a {
	color: white;
	padding: 3px 5px;
	font-size: 18px;
	margin: 10px;
	position: relative;
	text-decoration: none;
	border-radius: 20px;
}
.navbar ul li a::after {
	background-color: white;
	content: "";
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: -3px;
	border-radius: 20px;
	transform: scale(0);
	transition: transform 0.5s;
	transform-origin: right;
}

.navbar ul li a:hover::after {
	transform: scale(1);
	transform-origin: left;
}
.navbar ul li a.active-link::after {
	background-color: white;
	content: "";
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: -3px;
	border-radius: 20px;
	transform: scale(1);
	transition: transform 0.5s;
}
/* .navbar a:hover {
	color: rgb(64, 4, 104);
	border: 2px solid rgb(64, 4, 104);
	background-color: white;
} */
/* .design .dg1{
	height: 50px;
	margin: 0px 20px;
	margin-top: 20px;
	background-color:  white;
	border-radius: 20px;
}
.design {
	height: 25px;
	margin: 0px 20px;
	margin-top: 20px; 
	background-color:  rgb(61, 21, 88);
}
 */

.menu-btn {
	display: none;
}
.menu-btn {
	width: 30px;
	border: 2px solid white;
	height: 30px;
	border-radius: 20px;
	padding: 2px;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.bars {
	width: 60%;
	border-radius: 20px;
	background-color: rgb(149, 38, 223);
	height: 5px;
}
.section {
	margin: 20px;
	background-color: rgb(61, 21, 88);
	border-radius: 20px;
	color: white;
	transition: all 2s ease-in;
	box-shadow: 5px 5px 10px black;
}
.Top-Section {
	display: flex;
	flex-direction: row;
	/* transition: background-color 1s ease-in-out 2s; */
	/* transition-duration: all 5s ease-in; */
}

.img-part {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.img-part > img {
	width: 100%;
	height: 500px;
	background-color: transparent;
	box-shadow: 1px none 10px 0.6px black;
	transform: rotateY(180);
}

.name-about {
	/* width: 50%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	text-align: justify;
}
.hello {
	width: 120px;
	padding: 5px 20px;
	border-radius: 20px;
	margin: 0;
	text-align: center;
	background-color: rgb(149, 38, 223);
}
.title {
	width: 250px;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	margin: 10px 0px;
	font-size: 20px;
	font-weight: 800;
	font-style: italic;
	background-color: rgb(149, 38, 223);
}

.name {
	margin: 2px 15px 0px 0px;
	font-size: 45px;
	font-weight: bold;
	font-style: italic;
	font-size: 42px;
	text-align: justify;
}
.section-title {
	padding: 20px;
	text-align: center;
}
.section-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: start;
	padding: 20px;
}
.section-row {
	display: flex;
	flex-direction: row;
	align-content: center;
	flex-wrap: wrap;
}
.card {
	/* height: 200px; */
	width: 49%;
	display: flex;
	flex-direction: row;
	margin: 5px;
	padding: 20px;
	border-radius: 20px;
	clear: both;
	background-color: rgb(149, 38, 223);
}

.card-body {
	width: 75%;
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
}
.degree {
	display: none;
}
.degree-title {
	font-size: 25px;
	text-align: center;
	font-weight: 800;
}
.card-description {
	font-size: 16px;
	font-weight: 300;
	text-align: justify;
}
.card-graphic {
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: rgb(61, 21, 88);
	justify-items: center;
	/* height: 100%; */
}
.card-graphic > .graphic-text {
	text-align: center;
	transform: rotate(90deg);
}
footer {
	display: flex;
	background-color: rgb(61, 21, 88);
	bottom: 0px;
	height: 300px;
	flex-direction: row;
	color: white;
	position: relative;
	/* margin: 10px; */
}

footer .p1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

footer .p2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

@media only screen and (max-width: 820px) {
	.navbar {
		display: block;
		position: absolute;
		width: 100%;
		top: 50px;
		left: 0;
	}
	.navbar ul {
		display: block;
		width: 100%;
		background-color: transparent;
		opacity: 0;
		display: none;
	}
	header .navbar ul li {
		width: 100%;
		text-align: center;
		padding: 10px 0px;
	}
	.trailing {
		display: none;
	}
	header > .menu-btn {
		display: flex;
	}
	.Top-Section {
		display: block;
		/* width: 100%; */
	}
	.name-about {
		display: block;
		/* margin: 0 10px; */
		text-align: center;
	}
	.img-part {
		display: block;
		width: 100%;
	}
	.hello {
		width: 30%;
		padding: 5px 20px;
		border-radius: 20px;
		margin: 0;
		text-align: center;
		background-color: rgb(149, 38, 223);
	}

	.title {
		text-align: left;
		border-radius: 20px;
		width: 50%;
		background-color: transparent;
		margin: 10px 0px;
		font-size: 18px;
		/* background-color: rgb(149, 38, 223); */
	}
	.active-navbar {
		background-color: rgb(149, 38, 223);
		width: 100%;
		height: 250px;
		transform: scaleY(1);
		transition: all 0.5s ease-in-out;
	}
	.active-navbar ul {
		display: block;
		transition: all 0.5s ease-in-out;
		transform: scaleY(1);
		opacity: 1;
	}
	.name {
		font-size: 35px;
		text-align: center;
	}
	.main-img {
		width: 100%;
	}
	.about {
		text-align: justify;
	}
	.section-title h2::first-letter {
		padding: 0px;
	}
	.section-content {
		display: block;
	}
	.card {
		width: 100%;
	}
	.card-graphic {
		display: none;
	}
	.card-body {
		width: 100%;
	}
	.graphic-text {
		display: block;
	}
	.degree {
		display: block;
		text-align: center;
		padding: 5px;
		font-size: 25px;
		font-weight: 800;
		background-color: rgb(61, 21, 88);
		border-radius: 20px;
		margin: 5px;
	}.degree-title{
		font-size: 20px;
	}
}
@media only screen and (max-width: 400px) {
	.name {
		font-size: 20px;
	}
	.degree {
		display: block;
		font-size: 20px;
		background-color: transparent;
	}
}

@media only screen and (max-width: 300px) {
	.name {
		font-size: 20px;
	}
	.hello{
		width: 100%;
	}
	.degree {
		display: block;
		text-align: center;
		font-size: 16px;
		margin: 0;
		padding: 10px 0px;
		width: 100%;
		border: none;
	}
	.degree-title{
font-size: 16px;		
	}
	.card{
		padding: 5px;
	}
}
